{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Number of comments</th>
                <td>{{ post.comments|length }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Comments are :</h2>
    {%  for comment in post.comments %}

        <p>{{ comment.content }}</p>

    {% endfor %}

    <h2>Add a comment</h2>

    {{ form_start(form) }}

    {{ form_row(form.content) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}

{#    <a href="{{ path('app_post_index') }}">back to list</a>#}

    <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>

{% endblock %}
